<section id="experiences" class="experiences-section-bg">
  <h2>Mes expériences</h2>
  <div class="cards-list">
    <div class="card-container"
         *ngFor="let item of items; let i = index"
         [class.flipped]="flippedIndex === i"
         (click)="toggleFlip(i)">
      <div class="card">
        <!-- Face avant -->
        <div class="card-front">
          <h3>{{ item.title }}</h3>
          <p><strong>{{ item.underTitle }}</strong></p>
          <span class="date">{{ item.year }}</span>
        </div>
        <!-- Face arrière -->
        <div class="card-back">
          <p style="white-space: pre-line;">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>