<!-- Navbar fixe -->
<nav class="navbar">
  &nbsp;
  <a href="#apropos" class="nav-link" (click)="scrollToSection('apropos')" aria-label="Aller à la section À propos">À propos</a>
  <a href="#formations" class="nav-link" (click)="scrollToSection('formations')" aria-label="Aller à la section Formations">Formations</a>
  <a href="#experiences" class="nav-link" (click)="scrollToSection('experiences')" aria-label="Aller à la section Expériences">Expériences</a>

  <a href="#projets" class="nav-link" (click)="scrollToSection('projets')" aria-label="Aller à la section Projets">Projets</a>
  <a href="Mathieu_BURGOT_CV.pdf" class="nav-link" download="Mathieu_Burgot_CV.pdf" aria-label="Télécharger mon CV">CV</a>
  <a href="https://github.com/Pixelpawn" class="nav-link"  aria-label="Visiter mon profil GitHub">GitHub</a>
</nav>

<!-- Contenu principal -->
<main>
  <app-home-page></app-home-page>
</main>
