<section class = "description-section-bg">
<div class = "left-description-is-image"> 
<img src="assets/images/moi.png" alt="Photo de profil" /></div>
<div class = "right-description-is-text">
 <p>C'est ma super description de moi même et de mes compétences vraiment trop cool. Genre vraiment c'est abusé comment elles sont classe.</p><br>
 <p> Parce que si vous ne les avez pas vu, c'est un truc qu'il faut voir absolument les mecs !!! </p> <br>
 <p> D'ailleurs, le saviez-vous? Je ne suis pas un étudiant en mastère en développement full-stack mais je suis en fait le PDG de Thalès enterprise !</p><br>
 <p> ça a pas l'air comme ça mais c'est bien moi, je m'infiltre incognito dans les école pour voir si c'est bien de faire des partenarias avec eux.</p>

</div>
</section>>