<section id="apropos" class="description-section-bg">
  <h2>À propos de moi</h2>
  <div class="description-content">
    <div class="left-description-is-image">
      <img src="moi.jpg" alt="Photo de profil de Mathieu Burgot" />
    </div>
    <br>
    <br>
    <div class="right-description-is-text">
      <p class="description-text">
        Bonjour ! Je m’appelle Mathieu Burgot, titulaire d’un Bachelor Sécurité Informatique obtenu au CFA de La Salle, Rennes.
      </p>
      <p class="description-text">
        Actuellement en quête d’une alternance pour un Mastère en développement full stack à Ynov Campus, je mets à profit mes connaissances en cybersécurité (pentesting avec Kali Linux, Metasploit, Nmap, scripting Python) pour concevoir des applications robustes et sécurisées.
      </p>
      <p class="description-text">
        Organisé, passionné et motivé, je suis prêt à relever les défis du développement web avec une approche axée sur l’innovation et la sécurité.
      </p>
    </div>
  </div>
</section>