<section id="apropos" class="description-section-bg">
  <h2>À propos de moi</h2>
  <div class="description-content">
    <div class="left-description-is-image">
      <img src="moi.jpg" alt="Photo de profil de Mathieu Burgot" />
    </div>
    <br>
    <br>
    <div class="right-description-is-text">
      <p class="description-text">
        Passionné par la technologie et l'innovation, je suis un apprenant motivé en quête d'une opportunité d'alternance dans les domaines de l'intelligence artificielle et du développement full stack.
      </p>
      <p class="description-text">
        Actuellement à la recherche d’une alternance pour approfondir mes compétences en intelligence artificielle et en développement full stack, j’exploite mes connaissances en cybersécurité pour concevoir des solutions robustes, sécurisées et innovantes.
      </p>
      <p class="description-text">
        Organisé, curieux et déterminé, je suis prêt à relever les défis de l’IA et du développement web avec une approche axée sur l’innovation, la performance et la sécurité.
      </p>
</div>
  </div>
</section>